@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


.card-rotor {
  position: relative;
  width: 330px;
  height: 350px;
  top: 100px;
  margin: 0px auto;
}
.card-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  z-index: 1;
}

.card {
  width: 192px;
  height: 267px;
  border-radius: 10px;
  background: #f1f1f1;
  box-sizing: border-box;
  position: absolute;  
  bottom: 10px;
}
.forward .card {
  right: 50%; 
  transform: rotate(35deg);
  transform-origin: 100% 100%;
  background: aquamarine;
}
.backward .card {
  left: 50%;
  transform: rotate(-35deg);
  transform-origin: 0% 100%;
  background: brown;
}
.card .mark {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  text-align: center;
  font-size: 100px;
  /* color: #dd0; */
}
.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
}
.crown {
  width: 90px;
  height: 90px;
  margin: 0px auto;
}
.crown:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  left: 0;
  bottom: 0;
}



/* txt */



body {
	background: #fff;
	color: #262c2e;
	margin: 0;
	padding: 0;
}

.banner {
	display: block;
	min-height: 200px;
  width: 100%;
  top: 170px;
	position: relative;
}
.typed_wrap {
	display: block;
  background: aquamarine;
	border: 4px solid;
	width: 290px;
	height: auto;
	padding: 30px;


	
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h1 span{
	color: brown;
	font-family: 'Spartan', sans-serif;
	size: 10px;
	letter-spacing: 10px;
	
}

.typed_wrap h1 {
	display: inline;
	font-family: 'Trade Winds', cursive;
	size: 20px;
}


.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}


.typed-cursor{
   opacity: 0;
	display: none;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
